
body{
    background-color:#f4f4f4;
    font-family:Arial, sans-serif;

    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    margin:0;
}
h1{
    text-align:center;
    color:rgb(34, 102, 18);
}

.login-container{
    background-color:white;
    width:350px;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
    text-align:center;
}

label{
    font-weight:bold;
}
label{
    font-weight:bold;
}
input{
    width:100%;
    padding:10px;
    border:1px solid gray;
    box-sizing:border-box;
}

button{
    width:270px;
    padding:10px;
    background-color:darkgreen;
    color:white;
    border:none;
    cursor: pointer;
transition: 0.3s;
margin-top:10px;
}
button:hover{
    background-color: rgb(76, 219, 107);
}
a{
    display:block;
    text-align:center;
}

.logo{
    font-size:100px;
    text-align:center;
    margin-bottom:15px;
}
.remember-container{
    text-align:left;
    margin-top:10px;
    margin-bottom:15px;
}
.register-text{
    margin-top:10px;
    font-size:14px;
}

.register-text a{
    text-decoration:none;
    color:blue;
    font-weight:bold;
}
.options{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:15px 0;
}

.remember-label{
    display:flex;
    align-items:center;
    gap:8px;
    font-size:14px;
    font-weight:normal;
}

.remember-label input{
    width:auto;
    padding:0;
    margin:0;
}

.forgot-link{
    text-decoration:none;
    color:#1a73e8;
    font-size:14px;
}

.forgot-link:hover{
    text-decoration:underline;
}
.password-container{
    position:relative;
    width:100%;
}

.password-container input{
    width:100%;
    box-sizing:border-box;
    padding-right:45px;
}
.eye{
    position:absolute;
    right:15px;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
    font-size:18px;
}
.email-container{
    position:relative;
    width:100%;
    box-sizing: border-box;
}
input:focus{
    border:2px solid #198754;
    outline:none;
}